
header ul li {
  list-style: none;
  display: inline-block;
  padding: 0 4px;
}
main #result {
  max-width: 700px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
main #app {
  max-width: 500px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
main #app h1,
main #app h2,
main #app h3 {
  margin: 0 0 0.5rem 0;
}
main #app h1{
  font-size:32px;
}
main #app h2 {
  font-size:24px;
}
main #app h3 {
  font-size:16px;
}
.options {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.form {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.form button {
  margin: 8px;
}
#name,#score{
  font-weight: bold;
}
main #app p {
  margin: 0;
  text-align: center;
}
.message p img {
  width: 200px;
  height: auto;
}
