/* ここから下に記載していく */

body {
  font-size: 16px;
  height: 100%;
}
.wrapper {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: bold;
}
#about h1,
#news h1 {
  color: #ffd61a;
}
h2 {
  font-size: 18px;
  margin: 0 0 60px;
}
p {
  line-height: 1.4rem;
  margin: 1rem 0;
}
.btn {
  width: 10em;
  font-size: 24px;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  background: #ffd61a;
  box-shadow: 2px 3px 0 #e4c124;
}
.btn:hover {
  background-color: #e4c124;
  box-shadow: 0 3px 0 #e4c124;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
header {
  width: auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  height: 60px;
  margin: 0;
}
header nav li {
  display: inline-block;
  padding: 50px 25px;
}
header a {
  height: inherit;
  color: #222222;
  text-decoration: none;
}
header h1 a img {
  height: inherit;
  object-fit: contain;
}
footer {
  width: 100%;
  padding: 30px 0;
  margin: 60px 0 0;
  background: #707070;
  text-align: center;
  color: #fff;
}
section {
  width: 100%;
  padding: 60px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea{
  width: 100%;
}

.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #ffd61a;
    z-index: 100;
}
.loader {
    width: 60px;
    height: 60px;
    background: url('../img/chatIcon.png');
    background-size: contain;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(-360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(-360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

section#mv {
  height: 380px;
  background-image: url("../img/mainbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section#mv article {
  flex-direction: column;
  text-align: center;
  text-shadow: 3px 5px 5px #51524b;
}
section#mv h1 {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  color: #fff;
}
section#mv p {
  font-size: 20px;
  width: 100%;
  color: #fff;
  margin: 0 auto;
  word-break: break-all;
}

section#about {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section#about article {
  flex-direction: column;
  text-align: center;
}
section#about h1 {
  width: 100%;
}
section#about p {
  font-size: 16px;
  width: 100%;
  margin: 0 0 40px;
  word-break: break-all;
}
.imgs {
  width: 100%;
  height: auto;
  display: flex;
  margin: 80px 0 0;
  justify-content: center;
  align-items: center;
}
.imgs .img {
  width: 385px;
  height: 255px;
}
.imgs .img img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}
.multiple { padding: 0;}
.multiple img { width: 100%;}
.multiple div { margin: 0 5px;}
.multiple .slick-next { right: 17px; z-index: 40;}
.multiple .slick-prev { left: 23px; z-index: 40;}

#course p {
  margin-bottom: 60px;
}
#course article {
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#course article h2 {
  font-size: 20px;
  margin: 0 0 24px;
  font-weight: bold;
}
#course article:nth-child(2n) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#course article .img {
  width: 50%;
  height: 100%;
}
#course article .img img {
  height: inherit;
}
#course article .txt {
  width: calc(50% - 70px);
  height: auto;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#course article:nth-child(2n) .txt {
  padding-left: 20px;
  padding-right: 50px;
}
#course article .txt p {
  text-align: left;
  width: 100%;
  word-break: break-all;
}
#course article .text h1 {
  text-align: left;
  width: 100%;
}

#news .outer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}
.boxOuter h1 {
  font-size: 30px;
  margin: 10px 0;
}
#news article {
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#news article .inner1 {
  width: 298px;
  border: solid 2px #ffd61a;
  margin: 16px;
}
#news article .inner1:hover {
  transition-property: all;
  transition: 0.3s linear;
}
#news article .inner1 div {
  width: inherit;
  margin: 0;
  padding: 0;
}
#news article .inner1 .img {
  height: 150px;
  text-align: center;
  width: 100%;
  background: #ffd61a;
}
#news article .inner1 .img img {
  height: 150px;
}
#news article .inner1 .txt h3 {
  padding: 16px 16px 0;
  margin: 0;
  font-size: 20px;
}
#news article .inner1 .txt p {
  margin: 0;
  padding: 16px;
  font-size: 16px;
  text-align: left;
  word-break: break-all;
}
#access .map {
  width: 80%;
  margin: 0 auto;
}
#access iframe {
  width: 100%;
  margin: 0 auto;
}
.table {
  margin: 0 auto;
  padding: 24px 24px 0;
  margin-bottom: 24px;
}
.table table {
  margin: 0 auto;
  height: auto;
}
.table table,
.table tr,
.table td,
.table th  {
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 0.5rem 1rem;
}
.table th {
  vertical-align: middle;
  text-align: center;
  width: auto;
}
.table td {
  vertical-align: middle;
  text-align: left;
  width: auto;
}

form.table {
  max-width: 800px;
}
form.table table,
form.table tr,
form.table td {
  border: solid 1px #222222;
}
form.table th {
  text-align: left;
}
label {
  display: block;
}

.bot {
  width: 60px;
  height: 60px;
  background: #ffd61a;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 30;
  box-shadow: 2px 3px 0 #e4c124;
}
.bot:hover {
  background-color: #e4c124;
  box-shadow: 0 3px 0 #e4c124;
}
.bot img {
  width: 44px;
  height: 44px;
}
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 49;
}
.modal__bg {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content {
  border: solid 2px #ffd61a;
  background: #fff;
  left: 50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 50;
}
.modal__content h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.modal__content p {
  margin: 0;
}
.modal article {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatbot .img {
  width: 200px;
  height: 200px;
}
.modal .btn {
  width: auto;
  font-size: 1rem;
  padding: 0.5rem;
  line-height: 1rem;
}
.js-modal-close {
  margin: 1rem 0 0;
  color: #222222;
  line-height: 1rem;
}
.js-modal-close.xbtn {
  position: fixed;
  top: 0.75rem;
  right: 0.75rem;
  width: 1rem;
  height: 1rem;
  background: #ffd61a;
  margin: 0;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 100%;
  color: #fff;
  background: #ffd61a;
  text-decoration: none;
  text-align: center;
}
.js-modal-close.close {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
#pc_logo{
  display: block;
}
#spMenu{
  display: none;
}
@media screen and (max-width: 975px) {
  #pc_logo{
    display: none;
  }
  #spMenu{
    display: block;
  }
  header {
    width: auto;
    padding: 30px 60px;
    flex-direction: column;
  }
  header h1  {
    width: 100%;
    text-align: left;
  }
  header a {
    display: inline-block;
    width: auto;
  }
  header nav  {
    width: 100%;
    display: none;
  }
  header nav li {
    display: block;
    padding: 28px;
    text-align: center;
  }
}
@media screen and (max-width: 699px) {
  section p{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .imgs {
    margin: 0 0;
    flex-wrap: wrap;
  }
  .imgs .img{
    width: auto;
    height: 45vh;
  }
  .imgs .img img{
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  #course article {
    flex-direction: column;
  }
  #course article .img {
    width: 100%;
    height: 45vh;
    margin: 0;
    padding: 0;
  }
  #course article .txt {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  #course article:nth-child(2n) .txt {
    margin: 0;
    padding: 0;
  }
  #course article .txt h2{
    width: auto;
    padding: 24px;
    margin: 0;
  }
  #course article .txt p{
    width: auto;
    padding: 24px;
    margin: 0;
  }
  #course article .txt p {
    width: inherit;
    line-height: 1.4rem;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .table tr{
    width: 100%;
  }
  .table td,
  .table th  {
    width: auto;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  #news article .inner1{
    width: 85vw;
  }
}