.axis text {
  font: 10px sans-serif;
}
.axis path.domain {
  fill: Aquamarine;
  opacity: 0.05;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.axis line {
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
#app{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 0;
  padding: 16px 0 0 0;
}
.jumbotron {
  width: 400px;
  margin-top: 30px;
  padding: 0 8px 8px 40px;
  box-sizing: border-box;
}
label{
  width: 100%;
  display: inline-block;
  margin: 0 0 4px;
}
#disp{
  width: 400px;
  padding: 0 0 0 0;
}
@media screen and (max-width:399px) {
  #disp,
  .jumbotron {
    width: 100%;
  }
}
