.axis text {
  font: 10px sans-serif;
}
.axis path.domain {
  /*
  fillとopacityで半透明な背景色。
  */
  fill: Aquamarine;
  opacity: 0.05;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.axis line {
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.jumbotron {
  max-width: 400px;
  padding: 16px 16px 8px 40px;
  box-sizing: border-box;
}
label{
  margin: 0 0 4px;
  display: inline-block;
  width: 100%;
}
#app{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}